.img-box{
	column-count: 4;
	column-gap: 5px;
	width: 90%;
	margin: auto;
}
.image{
	max-width: 100%;
	display: black;
	filter: ;
	transition: ;
}
.image:hover{
	filter: ;
}
.image+.image{
	margin: 5px;


}
h1{
	width: 100%;
	text-align: center;
	border: 2px solid darkred;
	color: darkred;
}
body{
	background-color: black;


}
@media all and (max-width:500px){
	.img-box{
		column-count: 1;
	}

}
